<!-- <ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            iCanyons
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<app-header [backButton]="false"></app-header>

<ion-content>
    <ion-icon syze="large" name="log-out" (click)="tryLogout()"></ion-icon>
    <ion-card class="welcome-card">
        <!-- <img src="/assets/shapes.svg" alt="" /> -->
        <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>


        </ion-card-header>
        <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Resources</ion-label>
        </ion-list-header>
        <ion-item href="https://ionicframework.com/docs/">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Ionic Documentation</ion-label>
        </ion-item>

    </ion-list>
    <ion-button color="secondary" class="ion-btn" (click)="goProba()">userAuth Firebase</ion-button>
    <ion-button color="tertiary" class="ion-btn" (click)="getUsersLocalStorage()">userAuth & user LocalStorage</ion-button>
</ion-content>